<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Clima<span>Tempo</span></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="today">
    <ion-segment-button value="today">Hoje</ion-segment-button>
    <ion-segment-button value="tomorrow">Amanhã</ion-segment-button>
    <ion-segment-button value="nextDays">15 dias</ion-segment-button>
  </ion-segment>

  <main>
    <div class="cidade">
      <img src="https://cdn-icons-png.flaticon.com/512/1239/1239242.png" alt="">
      <h4>Itapeva-SP</h4>
    </div>
    <div class="imagem-tempo">
      <img src="./../../assets/sun.png" alt="">
    </div>
    <div class="maxmin">
      <ion-icon name="arrow-up-outline" class="max"></ion-icon>
      <div>37º</div>
      <ion-icon name="arrow-down-outline" class="min"></ion-icon>
      <div>22º</div>
    </div>
    <div class="temperatura">32º</div>
  </main>

</ion-content>